@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 23px #26395338;
    width: 400px;
    margin: 20px;
}

.mediaCard3{
    background: url("https://img.wallpapersafari.com/desktop/1680/1050/53/23/hF0RaI.jpg") center/cover;
    height: 300px;
    width: 100%;
}



.mediaCard2{
    background: url("https://i.pinimg.com/originals/11/b6/4f/11b64ff2d3db7d87ac7f483ea269c176.jpg") center/cover;
    height: 300px;
    width: 100%;
}


.mediaCard{
    background: url("https://wallpaperaccess.com/full/1186048.jpg") center/cover;
    height: 300px;
    width: 100%;
}

.title{
    color: #2b3d59;
}

.secondText{
    color: #828fa1;
}

.bottomText{
    color: #445b73;
}

.topCard{
    padding-top: 0x;
    padding: 20px;
}

.bottomCard {
    padding: 20px;
}

button.action {
    background: none;
    border: none;
    color: purple;
}